<div class="wrapper">
  @if (!src) {
    <ng-container [ngTemplateOutlet]="base"></ng-container>
  }
  @else {
    <!-- <img id="preview" [src]="src" class="img" /> -->
     <div class="photo" [style.backgroundImage]="`url(${src})`"></div>
    <div class="megacol">
      <ng-container [ngTemplateOutlet]="base"></ng-container>
      @if (data) {
        <div class="col">
          <h2>Параметры</h2>
          <span>Рост: {{data.height}}</span>
          <span>Вес: {{data.weight}}</span>
        </div>
      }
    </div>
  }
</div>


<ng-template #base>
  <div class="col">
    <mat-button-toggle-group [value]="woman">
      <mat-button-toggle [value]="true">Женщина</mat-button-toggle>
      <mat-button-toggle [value]="false">Мужчина</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-flat-button (click)="clickPhoto()">Отправить фото</button>
  </div>
</ng-template>

<input
  id="f1"
  type="file"
  accept="image/*"
  (change)="getPhoto($event)"
  style="display: none"
/>
